[submodule "auto_detect"]
	path = auto_detect
	url = git@bitbucket.org:peterdugan68/auto_detect.git
[submodule "rxutils"]
	path = rxutils
	url = git@bitbucket.org:peterdugan68/rxutils.git
[submodule "extern/vlfeat"]
	path = extern/vlfeat
	url = git@bitbucket.org:peterdugan68/vlfeat.git
[submodule "extern/+asr"]
	path = extern/+asr
	url = git@bitbucket.org:peterdugan68/asr.git
[submodule "extern/+horiharm"]
	path = extern/+horiharm
	url = git@bitbucket.org:peterdugan68/hori_harm.git
[submodule "extern/+asrpt"]
	path = extern/+asrpt
	url = git@bitbucket.org:peterdugan68/asrpt.git
[submodule "extern/+dtp1d"]
	path = extern/+dtp1d
	url = git@bitbucket.org:peterdugan68/dtp1d.git
[submodule "extern/+gpl"]
	path = extern/+gpl
	url = git@bitbucket.org:peterdugan68/gpl.git
[submodule "extern/silbido"]
	path = extern/silbido
	url = git@bitbucket.org:peterdugan68/silbido.git
[submodule "extern/+erma"]
	path = extern/+erma
	url = git@bitbucket.org:peterdugan68/erma.git
[submodule "noise_analyzer"]
	path = noise_analyzer
	url = git@bitbucket.org:peterdugan68/noiseanalyzer.git
[submodule "aena"]
	path = aena
	url = git@bitbucket.org:peterdugan68/aena.git
[submodule "utilapps"]
	path = utilapps
	url = git@bitbucket.org:peterdugan68/utilapps.git
[submodule "install"]
	path = install
	url = git@bitbucket.org:peterdugan68/install.git
