[submodule "auto_detect"]
	path = auto_detect
	url = git@bitbucket.org:CLO-BRP/auto_detect.git
[submodule "rxutils"]
	path = rxutils
	url = git@bitbucket.org:CLO-BRP/rxutils.git
[submodule "extern/vlfeat"]
	path = extern/vlfeat
	url = git@bitbucket.org:CLO-BRP/vlfeat.git
[submodule "extern/+asr"]
	path = extern/+asr
	url = git@bitbucket.org:CLO-BRP/asr.git
[submodule "extern/+horiharm"]
	path = extern/+horiharm
	url = git@bitbucket.org:CLO-BRP/hori_harm.git
[submodule "extern/+asrpt"]
	path = extern/+asrpt
	url = git@bitbucket.org:CLO-BRP/asrpt.git
[submodule "extern/+dtp1d"]
	path = extern/+dtp1d
	url = git@bitbucket.org:CLO-BRP/dtp1d.git
[submodule "extern/+gpl"]
	path = extern/+gpl
	url = git@bitbucket.org:CLO-BRP/gpl.git
[submodule "extern/silbido"]
	path = extern/silbido
	url = git@bitbucket.org:CLO-BRP/silbido.git
[submodule "extern/+erma"]
	path = extern/+erma
	url = git@bitbucket.org:CLO-BRP/erma.git
[submodule "extern/+DATpkg"]
	path = extern/+DATpkg
	url = git@bitbucket.org:CLO-BRP/datpkg.git
[submodule "noise_analyzer"]
	path = noise_analyzer
	url = git@bitbucket.org:CLO-BRP/noiseanalyzer.git
[submodule "aena"]
	path = aena
	url = git@bitbucket.org:CLO-BRP/aena.git
[submodule "utilapps"]
	path = utilapps
	url = git@bitbucket.org:CLO-BRP/utilapps.git
